/* Estilização de fontes e de margem*/
body{
    margin: 0;
    font-family:'Times New Roman', Times, serif
}

/* Estilização de cores e dimensões da main */
.main-contato{
    width: 100vw;
    height: 100vh;
    background-color: #201b2c;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

/* Estilização de fontes e alinhamentos da página esquerda*/
.left-contato{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Estilização de cor do  h1*/
h1{
    color: aqua;
}

/* Estilização de fontes e tamanhos da página á direita */
.right-contato{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilização de tamanhos e centralizações da página formulário, card*/
.card-contato{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #2f2841;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
    
}

/* Estilização de cores do botão e seus tamanhos*/
.card-contato>h1{
    color: aqua;
    font-weight: 800;
    margin: 0;
}
/* Estilização de cores do botão e seus tamanhos*/
.textfield{
    margin: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}

/* Estilização do input sendo tamanhos cores*/
.textfield> input{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #514869;
    color:aqua;
    font-size: 12pt;
    box-shadow:inset 0px 10px 40px #00000056;
    box-sizing: border-box;
}

/* Estilização da label alterando sua cor e margem*/
.textfield > label{
    color: aliceblue;
    margin-bottom: 10px;
}

/* Estilização de cores input */
.textfield > input::placeholder{
    color: aliceblue;
}

/* Estilização de cores do botão e seus tamanhos alterando-os */
.button{
    width: 50%;
    padding: 5px 0px;
    margin: 10px;
    border: none;
    border-radius: 8px;
    font-weight: 300;
    cursor: pointer;
    background:rgb(0, 255, 255) ;
    box-shadow: 0px 10px 40px -12px    
    
}