/* Estilização do body, com seus respectivos seletores*/
body {

    color: aqua;
    background-image: url(https://img.freepik.com/fotos-gratis/fundo-gradiente-de-luxo-abstrato-azul-escuro-liso-com-banner-de-estudio-vinheta-preta_1258-117930.jpg);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

/* Estilização da imagem do header*/
header img {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    border: 5px solid
}

/* Estilização do  ul central*/
ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    padding: 16px;

}

/* alinhamento do alinhamento */
.center {
    text-align: center;
}

/* Estilização de fontes e alinhamentos da página*/
h1 {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    
}

/* Estilização de fontes da página*/
h2 {
    font-family: 'Times New Roman', Times, serif;
}

/* Estilização de fontes e cores da página*/
h3 {
    color: whitesmoke;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* Editando tamanhos da pagina do footer*/
footer img {
    width: 40px;
    height: 45px;
}

/* Estilização de alinhamentos da página*/
footer {
    justify-content: center;
    display: flex;
    justify-content: space-evenly;
}

/* Estilização de cores */
.primeiro {
    background-color: rgba(240, 255, 255, 0.155);
}
/* Estilização de hover e de cores*/
footer a:hover {
    color: brown;
    margin-top: 20px;
    padding: 20px;
}

